<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu Blog</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header class="header">
        
        {% with messages = get_flashed_messages(with_categories=true) %}

            {% if messages %}

                {% for category, message in messages %}

                    <p class="{{ category }}">
                        {{ message }}
                    </p>

                {% endfor %}

            {% endif %}

        {% endwith %}

        <div class="container">
            <h1>Meu Blog Pessoal</h1>
            <nav>
                <a href="/">Início</a>
                <a href="#">Sobre</a>
                <a href="#">Contato</a>

                {% if session.get("user_id") %}
                    <a href="{{url_for('create_post')}}">Novo post</a>
                    <a href="{{url_for('logout')}}">Sair</a>

                {% else %}
                    <a href="{{url_for('login')}}">Login</a>
                {% endif %}
            </nav>
        </div>
    </header>    
    
    <main class="container">
        <section class="intro">
            <h2>Meus artigos</h2>
            <p>
                Pensamentos, projetos e coisas que estou aprendendo.
            </p>
        </section>

        <section class="posts">
            {% for post in posts %}

            <article class="posts">
                <h3>{{post["title"]}}</h3>

                <p>
                    {{post["content"]}}
                </p>

                <a href="{{url_for('post', id=post['id'])}}" class="read-more">
                    Ler mais ->
                </a>
            </article>
            {% endfor %}
        </section>
    </main>
    
    <footer class="footer">
        <p>
            © 2026 Meu Blog
        </p>
    </footer>
</html>